<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <!-- Foto de perfil del usuario -->
      <div class="profile-photo">
        <ion-avatar>
          <img src="" alt="Foto de Perfil" class="avatar-img">
        </ion-avatar>
      </div>

      <!-- Información del usuario -->
      <ion-list lines="none">
        <ion-item>
          <ion-label>Nombre de Usuario:</ion-label>
          <ion-note slot="end">aa</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Correo Electrónico:</ion-label>
          <ion-note slot="end"></ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Número de Contacto:</ion-label>
          <ion-note slot="end"></ion-note>
        </ion-item>
      </ion-list>
      
    </ion-card-content>
  </ion-card>
</ion-content>



