<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Piercing Ombligo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="assets/ombligo.png" alt="Piercing Ombligo" class="piercing-image"/>
    <ion-card-header>
      <ion-card-title>Piercing Ombligo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        El piercing de ombligo es un accesorio popular y atractivo, ideal para lucir especialmente en verano. Se coloca en la parte superior del ombligo, proporcionando un look elegante y llamativo.
      </p>
      <h3>Cuidados</h3>
      <ul class="care-list">
        <li>Limpiar con solución salina o jabón neutro dos veces al día.</li>
        <li>Evitar usar ropa ajustada que pueda irritar el piercing.</li>
        <li>No sumergir en piscinas o jacuzzis durante la cicatrización.</li>
      </ul>
      <h3>País de Origen</h3>
      <p class="origin">Brasil</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <a href="https://www.instagram.com/lavida.piercing/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon> La Vida Piercing
      </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>

