<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Piercing Monroe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="assets/monroe.jpg" alt="Piercing Monroe" class="piercing-image"/>
    <ion-card-header>
      <ion-card-title>Piercing Monroe</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        El piercing Monroe es una perforación en el labio superior, que imita el icónico lunar de Marilyn Monroe. Este piercing ofrece un estilo elegante y distintivo, añadiendo un toque clásico y glamoroso.
      </p>
      <h3>Cuidados</h3>
      <ul class="care-list">
        <li>Limpiar con solución salina dos veces al día.</li>
        <li>Evitar productos de maquillaje cerca de la zona durante la cicatrización.</li>
        <li>Enjuagar la boca después de comer para mantener la perforación limpia.</li>
      </ul>
      <h3>País de Origen</h3>
      <p class="origin">Estados Unidos</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <a href="https://www.instagram.com/lavida.piercing/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon> La Vida Piercing
      </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>

