<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Piercing Helix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="assets/Helix.jpg" alt="Piercing Helix" class="piercing-image"/>
    <ion-card-header>
      <ion-card-title>Piercing Helix</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        El piercing Helix es una perforación que se realiza en la parte superior del cartílago de la oreja. Es un piercing muy popular debido a su versatilidad y la gran variedad de joyas que se pueden usar en él.
      </p>
      <h3>Cuidados</h3>
      <ul class="care-list">
        <li>Limpiar con solución salina dos veces al día.</li>
        <li>Evitar dormir sobre el lado del piercing para prevenir irritación.</li>
        <li>Evitar el uso de auriculares que puedan irritar el área perforada.</li>
      </ul>
      <h3>País de Origen</h3>
      <p class="origin">Reino Unido</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <a href="https://www.instagram.com/lavida.piercing/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon> La Vida Piercing
      </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>

