<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Piercing Tragus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="assets/tragus.jpg" alt="Piercing Tragus" class="piercing-image"/>
    <ion-card-header>
      <ion-card-title>Piercing Tragus</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        El piercing Tragus se realiza en el pequeño cartílago ubicado justo frente al canal auditivo. Es una opción elegante y discreta que puede adaptarse a muchos estilos y preferencias, ofreciendo una variedad de joyas para su decoración.
      </p>
      <h3>Cuidados</h3>
      <ul class="care-list">
        <li>Limpiar con solución salina dos veces al día.</li>
        <li>Evitar el uso de auriculares o presionar el área perforada.</li>
        <li>Evitar el contacto con cosméticos y productos para el cabello hasta la completa cicatrización.</li>
      </ul>
      <h3>País de Origen</h3>
      <p class="origin">Brasil</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <a href="https://www.instagram.com/lavida.piercing/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon> La Vida Piercing
      </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>

