<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Piercing Septum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="assets/septum.jpg" alt="Piercing Septum" class="piercing-image"/>
    <ion-card-header>
      <ion-card-title>Piercing Septum</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        El piercing septum es un tipo de perforación en el tabique nasal, que puede ser decorativo y también funcional. Se encuentra en el área que separa las fosas nasales, ofreciendo un look único y moderno.
      </p>
      <h3>Cuidados</h3>
      <ul class="care-list">
        <li>Limpiar con solución salina dos veces al día.</li>
        <li>Evitar tocar el piercing con las manos sucias.</li>
        <li>Evitar nadar en piscinas durante el proceso de cicatrización.</li>
      </ul>
      <h3>País de Origen</h3>
      <p class="origin">Estados Unidos</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <a href="https://www.instagram.com/lavida.piercing/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon> La Vida Piercing
      </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>

