<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Piercing Dermal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="assets/dermal.jpg" alt="Piercing Dermal" class="piercing-image"/>
    <ion-card-header>
      <ion-card-title>Piercing Dermal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="description">
        El piercing dermal es un tipo de perforación que se coloca debajo de la piel, ofreciendo un aspecto único y versátil. Este tipo de piercing es ideal para diversas áreas del cuerpo y puede lucir un toque especial en cualquier lugar.
      </p>
      <h3>Cuidados</h3>
      <ul class="care-list">
        <li>Limpiar suavemente con solución salina o un limpiador recomendado dos veces al día.</li>
        <li>Evitar engancharlo con la ropa o tocarlo innecesariamente.</li>
        <li>No aplicar cremas o lociones directamente sobre el piercing.</li>
      </ul>
      <h3>País de Origen</h3>
      <p class="origin">Italia</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <a href="https://www.instagram.com/lavida.piercing/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon> La Vida Piercing
      </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>
