<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header-content">
        <img src="assets/logo2.png" alt="Logo" class="logo">
        La Vida Piercing
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">
  <h2>Bienvenidos a La Vida Piercing</h2>
  <section class="about-us">
    <h3>Quiénes Somos</h3>
    <p>
      En La Vida Piercing, nos especializamos en realizar piercings de la mejor calidad
      en el mercado, brindandote seguridad y te sientas a gusto con nosotros, cumplimos
      con todas las normas sanitarias para lograr eso.
    </p>
  </section>
  <section class="product-gallery">
    <h3>Piercings Destacados</h3>
    <div class="product-circles">
      <a href="/notfound" class="product-circle">
        <img src="assets/1.jpg" alt="Producto 1">
      </a>
      <a href="/septum" class="product-circle">
        <img src="assets/2.jpg" alt="Producto 2">
      </a>
      <a href="/productos/3" class="product-circle">
        <img src="assets/3.jpg" alt="Producto 3">
      </a>
      <a href="/productos/4" class="product-circle">
        <img src="assets/4.jpg" alt="Producto 4">
      </a>
      <a href="/productos/5" class="product-circle">
        <img src="assets/5.jpg" alt="Producto 5">
      </a>
      <a href="/productos/6" class="product-circle">
        <img src="assets/1.jpg" alt="Producto 6">
      </a>
    </div>
  </section>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <a href="https://www.instagram.com/lavida.piercing/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon> La Vida Piercing
      </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>