<ion-header>
  <ion-toolbar class="notfound-toolbar">
    <ion-title>404 - Página No Encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding notfound-content">
  <div class="notfound-container">
    <h1>404</h1>
    <p>Oops! La página que buscas no existe.</p>
    <ion-icon name="skull-outline"></ion-icon>
    <p>Puedes haberte perdido... ¡pero no te preocupes, vuelve al inicio!</p>
    <ion-button color="dark" expand="block" routerLink="/home">
      Volver al inicio
    </ion-button>
  </div>
</ion-content>



